# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
set3/pigLatin.dSYM/Contents/Resources/DWARF/pigLatin
set3/pigLatin.dSYM/Contents/Info.plist
set3/geometry.dSYM/Contents/Resources/DWARF/geometry
set3/geometry.dSYM/Contents/Info.plist
set3/pigLatin
set3/main
set3/geometry
set2/7.dSYM/Contents/Resources/DWARF/7
set2/7.dSYM/Contents/Info.plist
set2/6.6.1.dSYM/Contents/Resources/DWARF/6.6.1
set2/6.6.1.dSYM/Contents/Info.plist
set2/5.5.dSYM/Contents/Resources/DWARF/5.5
set2/5.5.dSYM/Contents/Info.plist
set2/4.4.1.dSYM/Contents/Resources/DWARF/4.4.1
set2/4.4.1.dSYM/Contents/Info.plist
set2/7
set2/5.5
set2/6.6.1
set2/4.4.1
set1/4.4.1.dSYM/Contents/Info.plist
set1/4.4.1.dSYM/Contents/Resources/DWARF/4.4.1
set1/3.3.4.dSYM/Contents/Resources/DWARF/3.3.4
set1/3.3.4.dSYM/Contents/Info.plist
set1/3.3.3.dSYM/Contents/Resources/DWARF/3.3.3
set1/3.3.3.dSYM/Contents/Info.plist
set1/3.3.2.dSYM/Contents/Resources/DWARF/3.3.2
set1/3.3.2.dSYM/Contents/Info.plist
.vscode/settings.json
.vscode/tasks.json
7.dSYM/Contents/Info.plist
7.dSYM/Contents/Resources/DWARF/7
set1/2.2.1
set1/2.2.1.cpp
set1/2.2.2
set1/2.2.2.cpp
set1/3.3.1
set1/3.3.2
set1/3.3.3
set1/3.3.4
set1/4.4.1
set1/2.2.2.dSYM/Contents/Info.plist
set1/2.2.2.dSYM/Contents/Resources/DWARF/2.2.2
set1/2.2.2.cpp
set1/2.2.1.cpp
.gitignore
